* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
}

.column-header, header div, footer div, nav, article, .left, .right, header, footer {
    padding: 0.67em;
}

.map-img {
    width: auto;
}

img {
    width: min(100%, 30em);
    height: auto;
}

ol, ul {
    padding: 1em;
}


nav a:link, nav a:visited {
    color: white;
}

article a:link, article a:visited {
    color: black;
}

header, footer{
    background-color: darkgrey;
}

.main, header div, footer div {
    background-color: white;
}

header div, footer div {
    margin: 0.67em;
}

nav {
    background-color: dimgray;
}

.column-header {
    background-color: lightgray;
}

article {
    background-color: lightgray;
}

.left, .right {
    background-color: dimgray;
}
